---
layout: home
search_exclude: true
image: images/logo.png
---

<style type='text/css'>
.clearfix::after {
  content: "";
  clear: both;
  display: table;
} 

UL.people-list {
  list-style: none;
  margin-left: 0px;
}

LI.person-card {
  width: 200px;
  float: left;
  margin: 10px;
  text-align: center;
  height: 340px;
}

LI.person-card P {
  margin: 0.5rem 0px !important;
}

LI.person-card > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #eee;
  text-align: center;
} 

</style>

# Scientific Machine Learning at University of Leeds

Hi!

Welcome to the website for people interested in scientific machine learning
(SciML) at Leeds (SciML is the discipline of combining machine learning with
scientific computing see e.g. <a href="https://sciml.ai/roadmap/">sciml.ai</a>
for an overview). This website serves to organise our work and allow others to
join us. 

If you're based at Leeds and would like to join:
* you can simply make a
pull-request to add yourself to this website: 
[people.md](https://github.com/sciml-leeds/sciml-leeds.github.io/tree/master/_data/people.yaml)
* or instead of a pull request, use the automated form [here](https://sciml-profileadder.streamlit.app)

We meet the first Friday of every month at 11am UK/local time in our home in LIDA (Leeds
Institute for Data Analytics), Worsley Building, 11th Floor, room 11.87.
([.ics-file download](assets/SciML_community_monthly_coffee-chat.ics) to add
the event to your calendar). We also organise [seminars and workshops](/events), as well as send out a 
<a href="http://eepurl.com/h65Px5">monthly newsletter</a>.

## People

{% assign image_files = site.static_files | where: "image", true %}
{% for myimage in image_files %}
{% if myimage.basename == "portrait_placeholder" %}
{% assign image_path_placeholder = myimage.path %}
{% endif %}
{% endfor %}

<ul class='people-list'>
{% for item in site.data.people %}
<li class='person-card'>
  {% assign image_path = image_path_placeholder %}
  {% for myimage in image_files %}
  {% assign basename = item.name | split: " " | join: "" | downcase %}
  {% if myimage.basename == basename %}
  {% assign image_path = myimage.path %}
  {% break %}
  {% endif %}
  {% endfor %}

  <img src='{{ image_path }}'/>
  <p>{{item.name}}</p>
  {% if item.social.website %}
  <a href="{{ item.social.website }}"><i class="fas fa-globe"></i></a>
  {% endif %}
  {% if item.social.github %}
  <a href="https://github.com/{{ item.social.github }}"><i class="fab fa-github"></i></a>
  {% endif %}
  {% if item.social.twitter %}
  <a href="https://twitter.com/{{ item.social.twitter }}"><i class="fab fa-twitter"></i></a>
  {% endif %}
  <p>{{ item.techniques | join: ", "}}</p>
  <p>{{ item.applications | join: ", "}}</p>
</li>
{% endfor %}
</ul>
<div class='clearfix'></div>

# Posts
